<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Margaret Hamilton</h1>
    <p>La matemática, informática e ingeniera de sistemas Margaret Hamilton (1936) cumple hoy años.

        Formó parte del Charles Stark Draper Laboratory del Massachusetts Institute of Technology; en 1965 se convirtió en la responsable del desarrollo del software de navegación a bordo de los ordenadores de la misión Apolo.
        
        Gran parte de su trabajo en la NASA consistió en generar códigos y diseñar sistemas que dieron lugar al desarrollo de conceptos base del diseño de software actual.
        
        Ha realizado importantes contribuciones a las ideas sobre la tolerancia a fallos y fiabilidad.</p>
        <img src="/images/Hamilton.jpg" alt="">
</body>
</html>