<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Alan Turing</h1>
    <h2>"Tengo un trabajo tan estresante que la única manera de sacarlo de mi mente es corriendo"</h2>
    <h3>Alan Mathison Turing nació el 23 de junio de 1912 en Londres, Gran Bretaña.</h3>
    <p>En 1936 publicó un ensayo titulado On Computable Numbers (Sobre números calculables), con el que contribuyó a la lógica matemática al introducir el concepto teórico de un dispositivo de cálculo que hoy se conoce como la máquina de Turing.

        Además, amplió su trabajo matemático al estudio de la inteligencia artificial y las formas biológicas.
        
        Durante la II Guerra Mundial trabajó como criptógrafo para el Foreign Office británico.
        
        Después de la guerra, trabajó en el Laboratorio Nacional de Física, donde diseñó el Motor de Computación Automática, uno de los primeros diseños para una computadora con programa almacenado.
        
        
        En 1949 se convirtió en subdirector del Laboratorio de Máquinas de Computación de la Universidad Victoria de Manchester, donde trabajó en el software para una de las primeras computadoras con programas almacenados: la Manchester Mark 1.</p>
    <img src="/images/Turing.png" alt="">
</body>
</html>